/* Custom Styles */
body {
    font-family: Arial, sans-serif;
}

section {
    padding: 60px 0;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}
.homemid{
    display: flex;
    width: 100%;
   
}
.hmid1{
        width: 50%;
        
        text-align: right;
        /* background-color: aqua; */
}
.hmid2{
    width: 50%;
   
    text-align: center;
    text-transform: initial;
    text-align: justify;
    /* background-color: rgb(91, 91, 132); */
}
.homemidsection{
    display: flex;
}
.hmid1{
    margin-left: 10%;
    margin-bottom: 20px;
}
.hmid2{
    margin-left: 20px;
    margin-right: 20px;
}
.hmid3{
  
    margin-right: 20%;
}

footer {
    margin-top: 20px;
}

/* insurance */
.card h5 {
    color: #333;
    font-weight: bold;
}

.card p {
    font-size: 0.9rem;
    color: #555;
}
